<!DOCTYPE html>
<html ng-app="wsir">
<head>
	<title>What Should I Roll?</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
	<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller="MainCtrl">
    <h1 class="ui icon header">
        <img class="ui medium circular image" src="assets/die.png">
        <div class="content">
            What Should I Roll?
            <div class="sub header">'What Should I Roll?' is a website designed by <a>TeyStar</a> to quickly 
            give you a class idea for your next character, built around what the current 
            party already contains.</div>
        </div>
    </h1>
    
    <div class="ui grid">
        <div class="three column row">
            <div class="column" id="pmcselector">
                <h3>Party Member Class Selector:</h3>
                <form class="ui form" ng-submit="createPartyMember(playerClassId, playerClasses, party)">
                    <div class="field">
                        <select ng-model="playerClassId">
                            <option value="">Choose A Class</option>
                            <optgroup label="CORE CLASSES">
                                <option value="0">Fighter</option>
                                <option value="1">Cleric</option>
                                <option value="2">Rogue/Ninja</option>
                                <option value="3">Wizard</option>
                                <option value="4">Barbarian</option>
                                <option value="5">Bard</option>
                                <option value="6">Druid</option>
                                <option value="7">Monk</option>
                                <option value="8">Paladin/Antipaladin</option>
                                <option value="9">Ranger</option>
                                <option value="10">Sorcerer</option>
                            </optgroup>
                            <optgroup label="BASE CLASSES">
                                <option value="11">Alchemist</option>
                                <option value="12">Cavalier/Samurai</option>
                                <option value="13">Gunslinger</option>
                                <option value="14">Inquisitor</option>
                                <option value="15">Magus</option>
                                <option value="16">Oracle</option>
                                <option value="17">Summoner</option>
                                <option value="18">Vigilante</option>
                                <option value="19">Witch</option>
                            </optgroup>
                            <optgroup label="HYBRID CLASSES">
                                <option value="20">Arcanist</option>
                                <option value="21">Bloodrager</option>
                                <option value="22">Brawler</option>
                                <option value="23">Hunter</option>
                                <option value="24">Investigator</option>
                                <option value="25">Shaman</option>
                                <option value="26">Skald</option>
                                <option value="27">Slayer</option>
                                <option value="28">Swashbuckler</option>
                                <option value="29">Warpriest</option>
                            </optgroup>
                        </select>
                        <button class="ui submit button">Submit</button>
                    </div>
                </form>
            </div>
            
            <div class="column" id="results">
                <h3>You Should Roll:</h3>
                <p id="answer">{{suggest.classSuggest}}</p>
                <h4>. . . and here's why:</h4>
                <p id="answer">{{suggest.reasonSuggest}}</p>
            </div>
            
            <div class="column" id="partylist">
                <h3>My Party Contains:</h3>
                <ul  ng-repeat="partyMember in party track by $index">
                     <li>
                         {{partyMember.name}}
                     </li>
                </ul>
                <div ng-click="party = []" class="ui submit button">Clear Party</div>
            </div>
        </div>
    </div>
    
    <p id="disclaimer">
        'What Should I Roll?' is not 100% accurate but will almost always give
        a good class suggestion.  Do not use it to create an entire party without expecting 
        some wonky results.  Its accuracy diminishes when players use 3rd
        party materials or class archetypes.  Think about these variables and try
        to find an archetype within the suggested class for best results in these
        circumstances.  Always try to make something that will be fun to play!
    </p>
    
    <script src="lodash/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>