<!DOCTYPE html>
<html ng-app="wsir">
<head>
	<title>What Should I Roll?</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
	<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller="MainCtrl">
    <div class = "ui stackable relaxed centered grid">
        <div class = "row"></div>
            <div class = "four column row">
                <div class = "one wide computer only column"></div>
                <div class = "sixteen wide tablet mobile eight wide computer column">
                    <div class = "ui segment">
                        <h1 class="ui left floated block icon header">
                            <img class="ui small circular image" src="assets/die.png">
                            <div class="content">
                                What Should I Roll?
                            </div>
                        </h1>
                        <p class="sub header">'What Should I Roll?' is a website designed by <a href="mailto:teyandee.m@gmail.com?Subject=WSIR%20Feedback" target="_top">Robert "TeyStar" Mulcahy</a> to quickly give you a class idea for your next character, built around what the current party already contains.</p>
                        <p>Set the drop down menu to a class of a party member, then click the <i class="add square icon"></i>button to add that member to your party.</p>
                        <P>Fill it with all of your current party members to recieve a class suggestion to best help the party.</P>
                        <p>These are only SUGGESTIONS!  They are not the Min/Maxed best choice options for Pathfinder veterans.  If vets want to get the most out of this, read the description of why the class was suggested and build a character who can fill that role while being a GOD!</p>
                        <p>This site is to suggest a newcoming party member their class, if you use it to create the entire party the results should stay accurate but maybe a bit wonky.</p>
                        <p>As the party size increases so does the difficulty of the adventure expected by this site.  This will make different party needs take precedence over what might of been suggested for a smaller party.</p>
                        <p>If someone is using a 3rd party class or an archetype that greatly alters their class' role, then select the class that closest resembles their character build.</p>
                        <p>Accuracy of party needs may diminish when the party uses archetypes or 3rd party classes because the site will not know EXACTLY what that character has.</p>
                        <p>If you want to play a certain class but are curious what weaknesses your party will have, add that class into the party and read on why a certain class was suggested.  Maybe you can find an archetype of your class or come up with a multiclass concept that will give you the best tools for the party AND be the class you wish to play!</p>
                        <p>Don't forget to play something you WANT TO PLAY!  It is all about having fun, so don't get too caught up in building the perfect party if it gets in the way of your awesome character ideas!</p>
                    </div>
                </div>

                <div class="sixteen wide tablet mobile four wide computer column">
                    <div class = "ui segment">
                        <form class="ui form" ng-submit="createPartyMember(playerClassId, playerClasses, party)">
                            <div class="field">
                                <select ng-model="playerClassId">
                                    <option value="">Add A Party Member</option>
                                    <optgroup label="CORE CLASSES">
                                        <option value="0">Fighter</option>
                                        <option value="1">Cleric</option>
                                        <option value="2">Rogue/Ninja</option>
                                        <option value="3">Wizard</option>
                                        <option value="4">Barbarian</option>
                                        <option value="5">Bard</option>
                                        <option value="6">Druid</option>
                                        <option value="7">Monk</option>
                                        <option value="8">Paladin/Antipaladin</option>
                                        <option value="9">Ranger</option>
                                        <option value="10">Sorcerer</option>
                                    </optgroup>
                                    <optgroup label="BASE CLASSES">
                                        <option value="11">Alchemist</option>
                                        <option value="12">Cavalier/Samurai</option>
                                        <option value="13">Gunslinger</option>
                                        <option value="14">Inquisitor</option>
                                        <option value="15">Magus</option>
                                        <option value="16">Oracle</option>
                                        <option value="17">Summoner</option>
                                        <option value="18">Vigilante</option>
                                        <option value="19">Witch</option>
                                    </optgroup>
                                    <optgroup label="HYBRID CLASSES">
                                        <option value="20">Arcanist</option>
                                        <option value="21">Bloodrager</option>
                                        <option value="22">Brawler</option>
                                        <option value="23">Hunter</option>
                                        <option value="24">Investigator</option>
                                        <option value="25">Shaman</option>
                                        <option value="26">Skald</option>
                                        <option value="27">Slayer</option>
                                        <option value="28">Swashbuckler</option>
                                        <option value="29">Warpriest</option>
                                    </optgroup>
                                </select>
                                <button class="ui right floated positive icon button" ><i class="add square icon"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class = "ui segment">
                        <div class="column" id="partylist">
                            <h3>My Party Contains:</h3>
                            <ul  ng-repeat="partyMember in party track by $index">
                                 <li>
                                     {{partyMember.name}}
                                     <button class="negative ui right floated compact icon button" ng-click="remove($index, party)"><i class="remove icon"></i></button>
                                 </li>
                            </ul>
                            <div ng-click="party = []" class="ui fluid negative button">Clear Party</div>
                        </div>
                    </div>
                </div>
                <div class = "one wide computer only column"></div>
            </div>

            <div class="sixteen wide tablet mobile twelve wide computer column" id="results">
                <div class="ui segment">
                    <div class ="ui left floated block header">
                        <h3>You Should Roll:</h3>
                        <p id="answer">{{suggest.classSuggest}}</p>
                    </div>
                    <h4>. . . and here's why:</h4>
                    <p id="answer">{{suggest.reasonSuggest}}</p>
                </div>
            </div>
    </div>
    <script src="lodash/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/classes.service.js"></script>
</body>